# Module 3 Exercises - Data Manipulation

In [38]:
import pandas as pd
import numpy as np

### Exercise 1:

From the datasets folder, load in the "dupedata.csv" file as a dataframe. Drop the duplicates from the dataframe, keeping the first value (save the resulting dataframe to a new variable).

In [39]:
location = "datasets/dupedata.csv"
df = pd.read_csv(location)
dupe = df.duplicated()
duplicates = df[dupe].sort_values('fname')

### Exercise 2:

Using the dataframe in the previous exercise, select all the rows where students received a grade lower than 60 (they need a teacher conference on how to improve for the next test).

In [40]:
df.loc[df['grade'] <= 60]

,fname,lname,gender,age,exercise,hours,grade,address
340,Abbot,Hall,male,16,4,3,58.9,"84 Rock Creek Lane, Durham, NC 27703"
410,Linda,Baldwin,female,16,5,2,59.0,"970 SW. Second Ave., Cedar Falls, IA 50613"
556,Lacey,Nieves,female,18,1,2,57.9,"38 West Brickyard Avenue, Roslindale, MA 02131"
664,Alika,Poole,female,19,2,16,32.0,"9282 Purple Finch Lane, Lexington, NC 27292"
672,Ciaran,Gay,male,19,4,3,59.3,"157 Bridge Street, Corona, NY 11368"
700,Steven,Sherman,male,18,1,2,60.0,"8029 Depot Street, Port Charlotte, FL 33952"
972,Keegan,Rasmussen,male,19,4,3,43.0,"876 East Pilgrim Street, Chelmsford, MA 01824"
1068,Isaiah,Harrington,male,17,1,4,58.9,"47 Mill Pond St., Haines City, FL 33844"
1207,Selma,Stout,female,19,2,3,59.4,"5 Pierce St., Chester, PA 19013"
1237,Willa,Byers,female,14,2,4,59.2,"9466 Wayne Lane, Torrington, CT 06790"
1494,Jenna,Wagner,female,16,1,3,56.3,"8829 Shore Dr., Hopewell Junction, NY 12533"
1876,Levi,Coleman,male,19,3,3,55.9,"9453 Laurel Street, Jersey City, NJ 07302"
1888,Fitzgerald,Goff,male,18,1,4,59.8,"3 West Shipley Rd., Langhorne, PA 19047"
1916,Gail,Mcneil,female,17,2,3,56.1,"8409A Spruce St., Fishers, IN 46037"
1930,Xanthus,Mcneil,male,16,3,4,59.8,"226 Redwood Lane, Boynton Beach, FL 33435"

### Exercise 3:

Using the dataframe from Exercise 1, select all the rows where a student received a grade of 100 and change their grade to 103 (extra credit!).

In [41]:
#df.loc[df['grade'] == 100]
res=df.loc[df['grade'] == 100]
res['grade'] = 103

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

### Exercise 4:

Load in the "travel_times.csv" file as a dataframe. Drop the "Comments" column. Then remove rows from the dataframe that have missing values and assign the resulting dataframe as a new variable.

### Exercise 5:

Using the dataframe from the exercise above (w/ no missing values), create bins that will categorize the AvgSpeed column as "slow" or "fast", and make a new column called "Speed" to hold those new values. Values less than 75 are "slow" and everything above is "fast".

### Exercise 6:

Using the dataframe in the previous exercise, make a new column called "Police" which is equal to all the values being "no" (they were never stopped by police for speeding while traveling).

### Exercise 7:

Using the dataframe from the previous exercise, pick a method (Standard Deviation or Interquartile Range) and remove the outliers from the "FuelEconomy" column.